<h3>1.  Tokenization<h3>

#### The process of splitting text into its most simple form - that is from a sentence into individual keywords. In order to preprocess this for most of our models, we typically lowercase the sentence and remove any punctuation.

In [2]:
#lower case our list of words from a document df
df = df.lower()

In [3]:
import string

In [4]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#removing punctuation from list of words
for p in string.punctation:
    t = t.replace(p, " ")

In [ ]:
#generating a list of tokens 
tokens = t.split()

<h3>2. Stemming/Lemmatization<h3>
    
#### The process of obtaining the root of keywords as certain words have conjugations. For instace, in the sentences "I love running" and "I went for a run", the word "running/run" mean the same the thing however, are taken as two separate tokens.

 <h3>3. TF-IDF: News Article Title <h3>
    
#### Bag-of-Words Model
##### Takes into consideration the number of times a word appears in a document, divided by the total number of words in the document. Every document has its own term frequency.
##### It tells us how important a word, or keyword is in a document, in terms of how much overall information it contributes to in each document.

In [26]:
# importing the necessary libraries
import advertools as adv
import numpy as np 
import pandas as pd 
import nltk
import matplotlib.pyplot as plt

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
df_dailymail = adv.sitemap_to_df("https://www.dailymail.co.uk/google-news-sitemap.xml")
df_guardian = adv.sitemap_to_df("http://www.theguardian.com/sitemaps/news.xml")

2022-07-12 13:36:24,547 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.dailymail.co.uk/google-news-sitemap2.xml
2022-07-12 13:36:24,671 | INFO | sitemaps.py:536 | sitemap_to_df | Getting https://www.dailymail.co.uk/google-news-sitemap1.xml
2022-07-12 13:36:24,932 | INFO | sitemaps.py:536 | sitemap_to_df | Getting http://www.theguardian.com/sitemaps/news.xml

In [13]:
df_dailymail['news_title']

0       Boy, 16, dies after getting into difficulty wh...
1       A whole different ball game! Joe Cole visits D...
2       Terry admits to 'turning down three managerial...
3       Channel 10's struggling breakfast show has jus...
4       Love Island: Fans are left reeling as Adam Col...
                              ...
1189    Special needs girl, 16, and her mother, 51, ar...
1190    Steven Tyler's daughter Mia puts her Hollywood...
1191    Noble Park shooting kills one person as gunman...
1192    Sofia Vergara is stunning as she celebrates he...
1193    Boy, 16, dies after getting into difficulty wh...
Name: news_title, Length: 1194, dtype: object

In [14]:
df_guardian['news_title']

0      Tell us: have you contacted or been contacted ...
1      Tour de France 2022: stage 10 from Morzine to ...
2      England v India: first one-day international –...
3      Tiger Woods blasts LIV rebels for turning thei...
4                Boots to stop making lower-SPF suncream
                             ...
543                  Why is listening to music pleasant?
544    The lesson from Johnson’s tenure – British pol...
545    Readers reply: which sport is the most difficu...
546    The cult of confidence: could positive thinkin...
547    Our sweet little dog needed a friend. No one w...
Name: news_title, Length: 548, dtype: object

In [29]:
documentA = df_dailymail['news_title'][0]
print(documentA)

Boy, 16, dies after getting into difficulty while swimming in abandoned Wigan quarry

In [30]:
documentB = df_guardian['news_title'][0]
print(documentB)

Tell us: have you contacted or been contacted by an old friend?

In [17]:
#splitting our list on empty space to obtain a list of all words
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [18]:
#selecting all the unique words in both documents
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [28]:
print(uniqueWords)

{'old', 'Wigan', '', 'an', 'by', 'in', 'quarry\xa0\xa0', 'swimming', 'difficulty', 'or', 'Tell', 'getting', 'friend?', '16,', 'into', 'us:', 'have', 'you', 'dies', 'abandoned', 'contacted', 'Boy,', 'while', 'been', 'after'}

In [19]:
#creating a dictionary for both our documents, showing the count of each uniqe word in each document
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [31]:
print(numOfWordsA)
print(numOfWordsB)

{'old': 0, 'Wigan': 1, '': 0, 'an': 0, 'by': 0, 'in': 1, 'quarry\xa0\xa0': 1, 'swimming': 1, 'difficulty': 1, 'or': 0, 'Tell': 0, 'getting': 1, 'friend?': 0, '16,': 1, 'into': 1, 'us:': 0, 'have': 0, 'you': 0, 'dies': 1, 'abandoned': 1, 'contacted': 0, 'Boy,': 1, 'while': 1, 'been': 0, 'after': 1}
{'old': 1, 'Wigan': 0, '': 1, 'an': 1, 'by': 1, 'in': 0, 'quarry\xa0\xa0': 0, 'swimming': 0, 'difficulty': 0, 'or': 1, 'Tell': 1, 'getting': 0, 'friend?': 1, '16,': 0, 'into': 0, 'us:': 1, 'have': 1, 'you': 1, 'dies': 0, 'abandoned': 0, 'contacted': 2, 'Boy,': 0, 'while': 0, 'been': 1, 'after': 0}

In [38]:
from nltk.corpus import stopwords
#stopwords.words('english')

### Term Frequency

In [20]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [21]:
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

In [34]:
print(tfA)
print(tfB)

{'old': 0.0, 'Wigan': 0.07692307692307693, '': 0.0, 'an': 0.0, 'by': 0.0, 'in': 0.07692307692307693, 'quarry\xa0\xa0': 0.07692307692307693, 'swimming': 0.07692307692307693, 'difficulty': 0.07692307692307693, 'or': 0.0, 'Tell': 0.0, 'getting': 0.07692307692307693, 'friend?': 0.0, '16,': 0.07692307692307693, 'into': 0.07692307692307693, 'us:': 0.0, 'have': 0.0, 'you': 0.0, 'dies': 0.07692307692307693, 'abandoned': 0.07692307692307693, 'contacted': 0.0, 'Boy,': 0.07692307692307693, 'while': 0.07692307692307693, 'been': 0.0, 'after': 0.07692307692307693}
{'old': 0.07692307692307693, 'Wigan': 0.0, '': 0.07692307692307693, 'an': 0.07692307692307693, 'by': 0.07692307692307693, 'in': 0.0, 'quarry\xa0\xa0': 0.0, 'swimming': 0.0, 'difficulty': 0.0, 'or': 0.07692307692307693, 'Tell': 0.07692307692307693, 'getting': 0.0, 'friend?': 0.07692307692307693, '16,': 0.0, 'into': 0.0, 'us:': 0.07692307692307693, 'have': 0.07692307692307693, 'you': 0.07692307692307693, 'dies': 0.0, 'abandoned': 0.0, 'contacted': 0.15384615384615385, 'Boy,': 0.0, 'while': 0.0, 'been': 0.07692307692307693, 'after': 0.0}

In [22]:
def computeIDF(documents):
    import math
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [23]:
idfs = computeIDF([numOfWordsA, numOfWordsB])

In [24]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [36]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])

In [37]:
df

,old,Wigan,,an,by,in,quarry,swimming,difficulty,or,...,us:,have,you,dies,abandoned,contacted,"Boy,",while,been,after
0,0.000000,0.053319,0.000000,0.000000,0.000000,0.053319,0.053319,0.053319,0.053319,0.000000,...,0.000000,0.000000,0.000000,0.053319,0.053319,0.000000,0.053319,0.053319,0.000000,0.053319
1,0.053319,0.000000,0.053319,0.053319,0.053319,0.000000,0.000000,0.000000,0.000000,0.053319,...,0.053319,0.053319,0.053319,0.000000,0.000000,0.106638,0.000000,0.000000,0.053319,0.000000

In [27]:
#TFIDF using sklearn's vectorizer library


vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)

In [35]:
#the TFIDF vectorizer from sklearn library does smoothing, meaning our values are close or similar to the above computed values
df

,16,abandoned,after,an,been,boy,by,contacted,dies,difficulty,...,into,old,or,quarry,swimming,tell,us,while,wigan,you
0,0.27735,0.27735,0.27735,0.000000,0.000000,0.27735,0.000000,0.000000,0.27735,0.27735,...,0.27735,0.000000,0.000000,0.27735,0.27735,0.000000,0.000000,0.27735,0.27735,0.000000
1,0.00000,0.00000,0.00000,0.267261,0.267261,0.00000,0.267261,0.534522,0.00000,0.00000,...,0.00000,0.267261,0.267261,0.00000,0.00000,0.267261,0.267261,0.00000,0.00000,0.267261